version: '3.7'

services:
  mongodb:
    image: mongo
    container_name: mongodb
    ports:
      - '27017:27017'

  springbootapp:
    image: your_spring_boot_app_image
    container_name: springbootapp
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '8080:8080'
    depends_on:
      - mongodb
    environment:
      SPRING_DATA_MONGODB_URI: mongodb://mongodb:27017/Project